:root {
  /* Fonts */
  --main-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;

  /* Colors */
  --main-dark-color: #000;
  --main-light-color: #fff;
  --accent-color: #2196f3;
  --main-color: #757575;
  --secondary-color: #212121;
  --fird-color: #f5f4fa;
  --main-bc-color: #e5e5e5;
  --secondary-bc-color: #2f303a;
  --border-color: #ececec;
  --sec-border-color: #eeeeee;

  /* paddings */
  --in-top-gap: 95px;
  --in-bottom-gap: 95px;
}

body {
  background-color: var(--main-light-color);
  color: var(--main-color);
  font-family: var(--main-font-family);
  font-size: 16px;
  width: 1600px;
  margin: 0;
}

/* common css */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.section {
  padding-top: var(--in-top-gap);
  padding-bottom: var(--in-bottom-gap);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-link,
.mail-ref,
.phone-ref,
.logo {
  text-decoration: none;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.accent {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.nav {
  display: flex;
  align-items: center;
}

/* header */
.header {
  background-color: var(--main-light-color);
  width: 1600px;
  border-bottom: 1px solid var(--border-color);
  padding-top: 25px;
  padding-bottom: 25px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid rgb(102, 0, 128);
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.12;
  color: var(--main-dark-color);
  letter-spacing: 0.03em;
  display: block;
}

.menu-list {
  display: flex;
  align-items: center;
  margin-left: 90px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contact-mail {
  margin-right: 50px;
}

.menu-item:first-child {
  margin-right: 50px;
}

.menu-list .menu-item + .menu-item {
  margin-right: 50px;
}

.menu-link {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.menu-link:hover,
.menu-link:focus,
.footter-mail:hover {
  color: var(--accent-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.btn-tytle:hover,
.btn-tytle:focus {
  color: var(--main-light-color);
  background-color: var(--accent-color);
}

.mail-ref,
.phone-ref {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.mail-ref:hover {
  color: var(--accent-color);
}

/* header end */

/* main */

/* шапка */
.hat {
  background-color: var(--secondary-bc-color);
  margin-bottom: 95px;
}

.hat > .container {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hat-tytle {
  font-weight: 900;
  width: 700px;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.btn-tytle {
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  color: var(--main-dark-color);
  background-color: var(--fird-color);
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.portfolio-btn {
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: inherit;
  color: var(--main-dark-color);
  background-color: var(--fird-color);
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.peculiarities-list,
.portfolio-list {
  background-color: var(--main-light-color);
  display: flex;
  justify-content: center;
}
.portfolio-list {
  margin-bottom: 35px;
}

.portfolio-list .portfolio-item + .portfolio-item {
  margin-left: 8px;
}

.content-tytle {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.content {
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* шапка-конец */

/* actyvity */

.actyvity-tytle,
.team-tytle {
  font-family: inherit;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.actyvity-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* actyvity end */

/* team */

.team {
  background-color: var(--fird-color);
}

.team-hero {
  color: var(--secondary-color);
  font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}

.job-title {
  color: var(--main-color);
  font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}

.team-item {
  background-color: var(--main-light-color);
  width: 270px;
}

.team-list {
  display: flex;
  justify-content: space-around;
}
/* team-end */

/* main end */

/* footer */
.footer {
  background-color: var(--secondary-bc-color);
  margin: 0 auto;
}

.map-link {
  color: var(--main-light-color);
  font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
}

.footter-mail,
.footer-phone {
  font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;
}

.studio {
  color: var(--main-light-color);
}

/* footer end */

/* main p2 */

.exemple-sign {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.71;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  text-align: left;
  padding: 0 25px;
  margin-bottom: 5px;
}

.exemple-category {
  font-size: 16px;
    line-height: 1.88;
    color: var(--main-color);
    text-align: left;
    letter-spacing: 0.03em;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 0;
  padding-bottom: 20px;
}

.exemple-item > img {
  margin-bottom: 20px;
}

.сurrent {
  color: var(--accent-color);
}
.exemple-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 1px blue;
}

.exemple-list {
  outline: 1px tomato;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.exemple-item {
  border-bottom: 1px solid var(--sec-border-color);
  flex-basis: calc(100% / 3-30px);
}
